<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bộ Tài Chính - Trang bảo trì Cổng thông tin điện tử Bộ Tài Chính</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="/error-assets/img/quoc-hieu.png">
    <!-- CSS Begins-->
    <link href="/error-assets/boostrap-files/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/error-assets/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/error-assets/css/layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="image-upgrade mb-5">
                <i class="fas fa-cogs"></i>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <img class="mr-2" src="/error-assets/img/quoc-hieu.png" alt="" />
                        CỔNG THÔNG TIN ĐIỆN TỬ KHO BẠC NHÀ NƯỚC
                    </h1>
                    <h2>
                        Hệ thống đang trong quá trình bảo trì<br/>và sẽ hoạt động trở lại sau ít phút
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/error-assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/error-assets/boostrap-files/js/bootstrap.min.js"></script>
</body>

</html>